{{ partial "header.html" . }}

	<main>
		<article role="article">
			<span class="featured">Feature Article</span>
			<h1 class="title">{{ .Title }}</h1>
			{{ .Content }}
			{{ with .Params.categories }}
	    <ul id="categories" class="cat-list">
	      <li>Filed to: </li>
	      {{ range . }}
	        <li> <a href="{{ "categories" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
	      {{ end }}
	    </ul>
	    {{ end }}
		</article>
		<div class="contact">{{ partial "contact.html" | markdownify }}</div>
	</main>
{{ partial "footer.html" . }}
