{{ partial "header.html" . }}

<main>
<h1>Category: {{ .Title }}</h1>
{{ .Content }}
  {{ range (where .Data.Pages "Section" "!=" "articles") }}
  <article>
		<h2>{{ .Title }}</h2>
		<div class="meta-box">
    	<br/><span class="date-day">{{ .Date.Format "02" }}</span>
      <br/><span class="date-mon-year">{{ .Date.Format "Jan 06" }}</span>
			<br/><a href="{{ .URL }}">Permalink</a>
		</div>
		{{ .Content }}
    {{ with .Params.categories }}
    <ul id="categories" class="cat-list">
      {{ range . }}
        <li> <a href="{{ "categories" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
  </article>
  {{ end }}
</main>

{{ partial "sidebar.html" . }}

{{ partial "footer.html" . }}
