{{ partial "header.html" . }}

<main>
  <div class="categories">
    {{ range (where .Data.Pages "Section" "!=" "") }}
      {{ if ( gt ( len .Data.Pages ) 0 ) }}
      <div class="category-box" style="background: top right / cover url('{{ .Params.featured_image }}') #eee;">
        <a href="{{ .URL }}">
          <div class="category-link">
            <div class="category-title">{{ .Title }}</div>
          </div>
        </a>
      </div>
      {{ end }}
    {{ end }}
    </div>
</main>

{{ partial "sidebar.html" . }}

{{ partial "footer.html" . }}
