/*! Dill Styles */
/*--------------------------------------------------------------
reset
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%;
	/* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll;
	/* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%;
	/* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%;
	/* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	/* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
variables
--------------------------------------------------------------*/
@font-face {
	font-family: "Bodedo";
	src: url("/fonts/HVD_Bodedo/HVD_Bodedo.ttf");
}

/*--------------------------------------------------------------
structure
--------------------------------------------------------------*/
header {
	width: 100%;
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1100px;
	margin: 2rem auto;
	position: relative;
}

main {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

article {
	clear: both;
	margin-bottom: 4rem;
	padding: 2rem 2rem;
	overflow: auto;
}

article:nth-of-type(1n+2) {
	border-top: 2px solid #669966;
}

.meta-box {
	display: block;
	float: left;
	padding: 0 2rem 1rem 0;
	text-align: center;
}

.meta-box a {
	color: #cc6699;
}

.date-day {
	font-family: "Bodedo", "Bodoni", sans-serif;
	color: #e8b109;
	line-height: 1.8rem;
	font-size: 6rem;
}

.date-mon-year {
	font-family: "Bodedo", "Bodoni", sans-serif;
	color: #669966;
	font-size: 2rem;
}

.categories {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.category-box {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width: 24%;
	min-height: 200px;
	background-color: #669966;
	text-align: center;
	margin-bottom: 1rem;
}

.category-box a {
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.category-box {
		width: 48%;
	}
}

.category-link {
	display: block;
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
}

.category-link:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.category-title {
	width: 100%;
	display: block;
	position: relative;
	top: 45%;
	color: white;
	font-size: 2rem;
}

aside {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width: 270px;
	margin-left: 2rem;
}

.name-box {
	width: 100%;
	text-align: center;
}

.sidebar-content {
	clear: both;
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: lighter;
	color: #555;
	padding: 2rem 1rem;
	border-bottom: 2px solid #cc6699;
}

.sidebar-tax {
	clear: both;
	display: block;
	padding: 1rem;
	border-bottom: 2px solid #cc6699;
	margin-bottom: 2rem;
}

.sidebar-tax a {
	text-decoration: none;
	font-size: 2rem;
	line-height: 2.4rem;
}

.contact {
	padding: 2rem;
}

@media screen and (max-width: 1200px) {
	.container {
		display: block;
		max-width: 1100px;
		margin: 2rem 4rem;
	}
	main {
		display: block;
		width: 100%;
		margin: 2rem 0;
	}
	aside {
		display: block;
		width: 100%;
		padding: 0 4rem;
		margin-left: 0;
	}
	.sidebar-content {
		font-size: 1.6rem;
		padding: 2rem 1rem;
	}
}

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
.banner {
	width: 100%;
}

.overlay {
	background: center/cover url("/img/flowers.jpg");
	display: block;
	position: relative;
	min-height: 350px;
	overflow: hidden;
}

.pattern {
	display: block;
	width: 101%;
	position: absolute;
	bottom: -1px;
}

.grass-block {
	display: block;
	line-height: 0;
	position: relative;
	overflow: hidden;
}

.grass {
	display: block;
	line-height: 0;
	width: 102%;
	position: relative;
	bottom: -1px;
}

.logo {
	display: block;
	margin: 0 auto;
	padding-top: 12rem;
	max-width: 300px;
}

/*--------------------------------------------------------------
nav
--------------------------------------------------------------*/
.main-navigation {
	display: block;
	padding: 1rem 1rem 0 0;
}

.main-navigation ul {
	display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 2rem 0;
}

.main-navigation ul li {
	padding-right: 0;
	width: 100%;
	text-align: center;
}

.main-navigation ul li a {
	display: block;
	width: 100%;
	height: 100%;
	font-family: "Bodedo", "Bodoni", "serif";
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
}

.main-navigation ul li a:hover {
	color: #669966;
	-webkit-transform: rotate(5deg);
	        transform: rotate(5deg);
}

/* Small menu. */
.main-navigation button {
	border-radius: none;
	width: 100%;
	border: none;
	padding: 1rem;
	background-color: white;
	color: #cc6699;
	font-family: "Bodedo", "Bodoni", "serif";
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
}

.main-navigation button:hover {
	color: #669966;
	-webkit-transform: rotate(5deg);
	        transform: rotate(5deg);
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 849px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.main-navigation ul li {
		padding-right: 1rem;
		width: auto;
	}
}

/*--------------------------------------------------------------
pagination
--------------------------------------------------------------*/
.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: "Bodedo", "Bodoni", sans-serif;
	font-size: 3rem;
}

.page-item {
	margin: 0 .5rem;
}

.active a {
	color: #669966;
}

.disabled {
	display: none;
}

/*--------------------------------------------------------------
typography
--------------------------------------------------------------*/
body {
	font-size: 1.2rem;
	font-family: "Helvetica", "Verdana", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	font-family: "Bodedo", "Bodoni", sans-serif;
	color: #669966;
	margin-bottom: 2rem;
}

h1 {
	font-size: 4rem;
	letter-spacing: 3px;
	font-weight: 100;
	margin-bottom: 1rem;
}

h2 {
	font-size: 3.2rem;
	font-weight: 100;
	margin-bottom: 2rem;
}

h3 {
	font-size: 2.8rem;
	font-weight: 100;
	margin-bottom: 1rem;
}

a {
	color: #cc6699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #669966;
}

p {
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin-bottom: 2rem;
}

.feather {
	width: 16px;
	height: 16px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.cat-list {
	display: inline-block;
}

.cat-list li {
	float: left;
	padding: 0 .5rem;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

blockquote {
	margin: 2rem;
	color: #cc6699;
}

blockquote p {
	font-style: italic;
	font-weight: 100;
	font-size: 3rem;
	line-height: normal;
}

figcaption p {
	font-size: 1.2rem;
	font-style: italic;
	color: #669966;
}

.featured {
	letter-spacing: 2px;
	text-transform: uppercase;
}

@media screen and (max-width: 849px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	p {
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 1.8rem;
	}
}

footer {
	font-size: 1.6rem;
	font-weight: 400;
	color: white;
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
	color: white;
}

footer a {
	color: white;
	text-decoration: underline;
}

footer a:hover {
	color: #ff6633;
}

footer ul {
	list-style: none;
}

/*--------------------------------------------------------------
media
--------------------------------------------------------------*/
img {
	max-width: 100%;
}

figure {
	max-width: 100%;
	margin: 0;
}

.alignleft {
	clear: left;
	margin-right: 2rem;
	float: left;
	max-width: 30%;
}

.alignright {
	clear: right;
	margin-left: 2rem;
	float: right;
	max-width: 30%;
}

@media screen and (max-width: 749px) {
	.alignleft {
		margin-right: 0;
		clear: both;
		max-width: 100%;
	}
	.alignright {
		margin-left: 0;
		clear: both;
		max-width: 100%;
	}
}

.featured-image {
	width: 100%;
	margin-bottom: 2rem;
}

/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.grass-block {
	display: block;
	line-height: 0;
	position: relative;
	overflow: hidden;
}

.grass {
	display: block;
	line-height: 0;
	width: 102%;
	position: relative;
	bottom: -1px;
}

footer {
	min-height: 200px;
	padding: 3rem 8rem;
	background-color: #669966;
}

.footer-blocks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.footer-block {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width: 20%;
	margin: 1rem;
}

@media screen and (max-width: 849px) {
	.footer-blocks {
		display: block;
		padding: 1rem 2rem;
	}
	.footer-block {
		display: block;
		width: 100%;
	}
}
