{{ partial "header.html" . }}

<main>
{{ .Content }}
  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") 5 }}
  {{ range $paginator.Pages }}
  <article>
    {{ with .Params.featured_image }}<img class="featured-image" src="{{ . }}" alt="">{{ end }}
		<a href="{{ .Permalink }}"><h2 class="title">{{ .Title }}</h2></a>
		<div class="meta-box">
    	<br/><span class="date-day">{{ .Date.Format "02" }}</span>
      <br/><span class="date-mon-year">{{ .Date.Format "Jan 06" }}</span>
			<br/><a href="{{ .Permalink }}">Permalink</a>
		</div>
		{{ .Content }}
    {{ with .Params.categories }}
    <ul id="categories" class="cat-list">
      <li>Filed to: </li>
      {{ range . }}
        <li> <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
  </article>
  {{ end }}
  {{ template "_internal/pagination.html" . }}
</main>

{{ partial "sidebar.html" . }}

{{ partial "footer.html" . }}
