<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	{{ partial "head.html" . }}
	<body>
	<header>
		<h3>Here's the Dill: Jayme's German Garden Journey</h3>
		<nav class="navigation">
				<ul class="menu">
					{{ range .Site.Menus.main }}
						<li><a href="{{ .URL | relURL }}">{{ .Name }}{{ .Pre }}</a></li>
					{{ end }}
					{{ range .Site.Menus.social }}
						<li><a href="{{ .URL | safeURL }}" target="_blank">{{ .Pre }}</a></li>
					{{ end }}
				</ul>
			</nav>
	</header>
	<div class="container">
