<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	{{ partial "head.html" . }}
	<body>
		<a class="accessibility-link" href="#main-content">Skip to content</a>
	<header>
		<div class="banner overlay">
			<a href="/">
			<div class="logo">
				<img src="/img/logo-outlined.svg" role="img" alt="Here's the Dill Logo">
			</div>
			</a>
			<img class="pattern" alt="" src="/img/banner.svg">
		</div>
		<nav id="site-navigation" class="main-navigation">
			<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Main Menu</button>
				<ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
					{{ range .Site.Menus.main }}
						<li><a href="{{ .URL | relURL }}">{{ .Name }}{{ .Pre }}</a></li>
					{{ end }}
					{{ range .Site.Menus.social }}
						<li><a href="{{ .URL | safeURL }}" target="_blank">{{ .Pre }}</a></li>
					{{ end }}
				</ul>
			</nav>
	</header>
	<div id="main-content" tabindex="-1" class="container">
