<aside>
<!-- <div class="name-box"><a href="/about"><img src="/img/name.png"></a></div> -->

<div class="sidebar-content">
<a href="/about"><img src="/img/jayme.jpg" width="100px" style="float:left; margin: 0 1rem 1rem 0;"></a>
If you are as nerdy and passionate about gardening as I am, welcome! I’ve always worked in gardens and I’ve always been curious about the "why" behind many processes in the garden. Plants and their interactions with the world fascinate me, and this website is an exploration of the nagging questions that we all come across while gardening. I really want to gain a deeper understanding of the biological, ecological, and chemical mechanisms at work in our gardens, as well as the agricultural and environmental topics surrounding food, in order to become a better gardener and a more conscious citizen of the world. Successes and failures will be shared along with any research behind them. Join me!
</div>
<div class="sidebar-tax">
<h3>Categories</h3>
<ul id="all-tags">
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        {{ with $.Site.GetPage (printf "/categories/%s" $name) }}
            <li><a href="{{ .Permalink }}">{{ $name }}</a></li>
        {{ end }}
    {{ end }}
</ul>
</div>
<div>
<a class="twitter-timeline" href="https://twitter.com/hereisthedill?ref_src=twsrc%5Etfw">Tweets by hereisthedill</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</aside>
