.banner {
	width: 100%;
}

.overlay {
	background: center / cover url('/img/flowers.jpg');
	display: block;
	position: relative;
	min-height: 350px;
	overflow: hidden;

	.pattern {
		display: block;
		width: 101%;
		position: absolute;
		bottom: -1px;
	}
}

.logo {
	display: block;
	margin: 0 auto;
	padding-top: 12rem;
	max-width: 300px;
}
