img {
	max-width: 100%;
}

figure {
	max-width: 100%;
  margin: 0 auto 2rem;
}

.no-js {
	display: none;
}

.alignleft {
	clear: left;
	margin-right: 2rem;
	margin-top: 0;
	float: left;
}
.alignright {
	clear: right;
	margin-left: 2rem;
	margin-top: 0;
	float: right;
}
@media screen and (max-width: 599px) {
	.alignleft {
		margin-right: 0;
		margin-top: 1rem;
		clear: both;
		width: 100%;
	}

	.alignright {
		margin-left: 0;
		margin-top: 1rem;
		clear: both;
		width: 100%;
	}
}

.featured-image {
	width: 100%;
	margin-bottom: 2rem;
}

.gallery {
	max-width: 400px;
	margin: 0 2rem 2rem 0;
	img {
		margin: .5rem 0;
	}
}

.four-across {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	img {
		flex: 0 0 auto;
	}
}
@media screen and (max-width: $size__mobilemenu) {
	.four-across {
		display: block;
	}
}

.lazy {
	img {
		width: 100%;
	}
}
