.navigation {
	display: block;
	padding: 1rem 1rem 0 0;
}

.menu {
	display: flex;
	justify-content: center;
	padding: 2rem 0;
	// border-bottom: 2px solid $color__green;

	li {
		padding-right: 1rem;

		a {
			display: block;
			width: 100%;
			height: 100%;
			font-family: "Bodedo", "Bodoni", "serif";
			font-size: 2rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-decoration: none;
		}

		a:hover {
			color: $color__green;
			transform: rotate(5deg);
		}
	}
}
