header {
	//max-width: 1200px;
	//margin: 2rem auto;
	//padding-top: 5rem;
	width: 100%;
}

.container {
	display: flex;
	max-width: 1100px;
	margin: 2rem auto;
	position: relative;
}

main {
	flex: 1 1 auto;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

article {
	clear: both;
	margin-bottom: 4rem;
	padding: 2rem 2rem;
	//overflow: auto;
}


article:nth-of-type(1n+2) {
		border-top: 2px solid $color__green;
	}

.meta-box {
	display: block;
	float: left;
	padding: 0 2rem 1rem 0;
	text-align: center;

	a {
		color: $color__pink;
	}
}
.date-day {
	font-family: $font__display;
	color: $color__yellow;
	line-height: 1.8rem;
	font-size: 6rem;
}
.date-mon-year {
	font-family: $font__display;
	color: $color__green;
	font-size: 2rem;
}

.copy-box {

}
.categories {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.category-box {
	flex: 0 0 auto;
	width: 24%;
	min-height: 200px;
	background-color: $color__green;
	text-align: center;
	margin-bottom: 1rem;
	a {
		text-decoration: none;
	}
}

@media screen and (max-width: 800px) {
	.category-box {
		width: 48%;
	}
}

.category-link {
	display: block;
	background-color: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
}

.category-link:hover {
	background-color: rgba(0,0,0,.5);
}

.category-title {
	width: 100%;
	display: block;
	position: relative;
	top: 45%;
	color: white;
	font-size: 2rem;
}

aside {
	flex: 0 0 auto;
	width: 270px;
	margin-left: 2rem;

	div:nth-of-type(1n+2) {
			border-top: 2px solid $color__pink;
		}
}
.name-box{
	width: 100%;
	text-align: center;
}
.sidebar-content {
	clear: both;
	font-size: 1.2rem;
	line-height: 1.6rem;
	font-weight: lighter;
	color: #555;
	padding: 2rem 1rem;
	//border-bottom: 2px solid $color__pink;
}
.sidebar-tax {
	clear: both;
	display: block;
	padding: 1rem;
	//border-bottom: 2px solid $color__pink;
	margin-bottom: 2rem;
	a {
		text-decoration: none;
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

.contact {
	padding: 2rem;
}

@media screen and (max-width: $size__break) {
	.container {
		display: block;
		max-width: 1100px;
		margin: 2rem 4rem;
	}
	main {
		display: block;
		width: 100%;
		margin: 2rem 0;

	}
	aside {
		display: block;
		width: 100%;
		padding: 0 4rem;
		margin-left: 0;
	}
	.sidebar-content {
		font-size: 1.6rem;
		padding: 2rem 1rem;
	}
}
