header {
	//max-width: 1200px;
	//margin: 2rem auto;
	//padding-top: 5rem;
	width: 100%;
}

.banner {
	width: 100%;
}

.overlay {
	background: center / cover url('/img/flowers.jpg');
	display: block;
	position: relative;
	min-height: 350px;
	overflow: hidden;

	.pattern {
		display: block;
		width: 101%;
		position: absolute;
		bottom: -1px;
	}
}

.logo {
	margin: 0 auto;
	padding-top: 12rem;
	max-width: 300px;
}

.container {
	display: flex;
	max-width: 1200px;
	margin: 2rem auto;
}

main {
	flex: 1 1 auto;
	margin-left: 2rem;
	margin-bottom: 2rem;
}

article {
	clear: both;
	margin-bottom: 4rem;
	padding: 2rem 2rem;
	border-bottom: 2px solid $color__green;
	overflow: auto;
}

img {
	max-width: 100%;
}

figure {
	max-width: 100%;
}

.alignleft {
	clear: left;
	margin-left: 0;
	float: left;
	max-width: 30%;
}
.alignright {
	clear: right;
	margin-right: 0;
	float: right;
	max-width: 30%;
}
@media screen and (max-width: 500px) {
	.alignleft {
		margin: 0;
		clear: both;
		max-width: 100%;
	}

	.alignright {
		margin: 0;
		clear: both;
		max-width: 100%;
	}
}

.featured-image {
	width: 100%;
	margin-bottom: 2rem;
}

.meta-box {
	display: block;
	float: left;
	padding: 0 2rem 1rem 0;
	text-align: center;
}
.date-day {
	font-family: $font__display;
	color: $color__yellow;
	line-height: 1.8rem;
	font-size: 6rem;
}
.date-mon-year {
	font-family: $font__display;
	color: $color__green;
	font-size: 2rem;
}

.copy-box {

}
.categories {
	display: flex;
	justify-content: space-between;
}

.category-box {
	flex: 0 0 auto;
	width: 24%;
	min-height: 200px;
	background-color: $color__green;
	text-align: center;
	a {
		text-decoration: none;
	}
}

.category-link {
	display: block;
	background-color: rgba(0,0,0,0);
	width: 100%;
	height: 100%;
}

.category-link:hover {
	background-color: rgba(0,0,0,.5);
}

.category-title {
	width: 100%;
	display: block;
	position: relative;
	top: 45%;
	color: white;
	font-size: 2rem;
}

aside {
	flex: 0 0 auto;
	width: 300px;
	margin-left: 3rem;
}
.name-box{
	width: 100%;
	text-align: center;
}
.sidebar-content {
	clear: both;
	font-size: 1.6rem;
	padding: 2rem 1rem;
	border-bottom: 2px solid $color__pink;
}
.sidebar-tax {
	clear: both;
	padding: 1rem;
	border-bottom: 2px solid $color__pink;
	margin-bottom: 2rem;
	a {
		text-decoration: none;
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

@media screen and (max-width: 1000px) {
	.container {
		display: block;
		max-width: 1200px;
		margin: 2rem 0;
	}
	main {
		display: block;
		width: 100%;
		margin: 2rem 0;

	}
	aside {
		display: block;
		width: 100%;
		padding: 0 4rem;
		margin-left: 0;
	}
	.sidebar-content {
		font-size: 1.6rem;
		padding: 2rem 1rem;
	}
}

footer {
	text-align: center;
	margin: 3rem;
}
