body {
	font-size: 1.2rem;
	font-family: "Helvetica", "Verdana", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	font-family: $font__display;
	color: $color__green;
	margin-bottom: 2rem;
}

h1 {
	font-size: 4rem;
	letter-spacing: 3px;
	font-weight: 100;
	margin-bottom: 1rem;
}

h2 {
	font-size: 3.2rem;
	font-weight: 100;
	margin-bottom: 2rem;
}
h3 {
	font-size: 2.8rem;
	font-weight: 100;
	margin-bottom: 1rem;
}

a {
	color: $color__pink;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: $color__green;
}
a:focus {
	text-decoration: underline;
	color: $color__green;
}

p {
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin-bottom: 2rem;
}

.feather {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.cat-list {
	display: inline-block;

	li {
		float: left;
		padding: 0 .5rem;
	}
}

em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
blockquote {
	margin: 2rem;
	color: $color__pink;
	p {
		font-style: italic;
		font-weight: 100;
		font-size: 3rem;
		line-height:normal;
	}
}
figcaption {
	p {
		font-size: 1.2rem;
		font-style: italic;
		color: $color__green;
	}
}

.featured {
	letter-spacing: 2px;
	text-transform: uppercase;
}

.footnote {
	display: block;
	float: right;
	margin: 3rem;
	margin-right: -15rem;
	width: 30rem;
	font-size: 1.6rem;
	font-style: italic;
	color: $color__orange;
}

@media screen and (max-width: calc($size__break + 15rem) ) {
	.footnote {
		float: none;
		margin-right: 3rem;
		width: 100%;
	}
}

@media screen and (max-width: $size__mobilemenu) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.8rem;
	}
	p {
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin-bottom: 1.8rem;
	}
}

footer {
	font-size: 1.6rem;
	font-weight: 400;
	color: white;

	h1,h2,h3,h4,h5,h6 {
		color: white;
	}

	a {
		color: white;
		text-decoration: underline;

		&:hover {
			color: $color__orange;
		}
	}

	ul {
		list-style: none;
	}
}

.accessibility-link {
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    width: 1px;
}
.accessibility-link:focus {
    clip: rect(auto,auto,auto,auto);
    outline-offset: -3px;
    outline: 5px auto -webkit-focus-ring-color;
    outline: thin dotted;
    position: static;
    text-decoration: underline;
}
