{{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $placeholder := $image.Resize "48x q20" }}
{{ $small := $image.Resize "300x" }}

<figure {{ with .Get "class" }}class='{{.}}'{{ end }} style="max-width:{{ $image.Width }}px">
  <img
    class="lazy"
    {{ with .Get "width" }}
      {{ if le "width" "300" }}
        width='{{.}}'
        src="{{ $placeholder.Permalink }}"
        data-src="{{ $small.Permalink }}"
      {{ else }}
        width="100%"
        src="{{ $placeholder.Permalink }}"
        data-src="{{ $image.Permalink }}"
      {{ end }}
      {{ else }}
      width="100%"
      src="{{ $placeholder.Permalink }}"
      data-src="{{ $image.Permalink }}"
    {{ end }}
    {{ with .Get "link" }}link='{{.}}'{{ end }}
    {{ with .Get "target" }}target='{{.}}'{{ end }}
    {{ with .Get "rel" }}rel='{{.}}'{{ end }}
    {{ with .Get "alt" }}alt='{{.}}'{{ else }}alt=""{{ end }}
    {{ with .Get "title" }}title='{{.}}'{{ end }}
    {{ with .Get "height" }}height='{{.}}'{{ end }}
    {{ with .Get "attr" }}attr='{{.}}'{{ end }}
    {{ with .Get "attrlink" }}attrlink='{{.}}'{{ end }}>
  {{ with .Get "caption" }}
  <figcaption>
    <p>{{.}}</p>
  </figcaption>
  {{ end }}
</figure>
