{{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $placeholder := $image.Resize "48x q20" }}
{{ $small := $image.Resize "300x" }}

<figure {{ with .Get "class" }}class='{{.}}'{{ end }} style="max-width:300px;">
  <img
    class="lazy no-js"
    width='300'
    src="{{ $placeholder.Permalink }}"
    data-src="{{ $small.Permalink }}"
    {{ if .Get "alt" }}alt='{{.Get "alt"}}'
    {{ else if .Get "caption" }}alt='{{.Get "caption"}}'
    {{ else }}alt=""
    {{ end }}
    {{ with .Get "height" }}height='{{.}}'{{ end }}>
    <noscript>
      <img
        width='300'
        src="{{ $small.Permalink }}"
        {{ with .Get "alt" }}alt='{{.}}'{{ else }}alt=""{{ end }}
        {{ with .Get "height" }}height='{{.}}'{{ end }}>
    </noscript>
  {{ with .Get "caption" }}
  <figcaption>
    <p>{{.}}</p>
  </figcaption>
  {{ end }}
</figure>
