{{ $image := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $small := $image.Resize "300x" }}

<figure {{ with .Get "class" }}class='{{.}}'{{ end }}
{{ with .Get "width" }}
style="max-width:300px;">
{{ else }}
style="max-width:100%;">
{{ end }}
  <img
  {{ with .Get "width" }}
    {{ if le "width" "300" }}
      width='{{.}}'
      src="{{ $small.Permalink }}"
    {{ else }}
      width="100%"
      src="{{ $image.Permalink }}"
    {{ end }}
    {{ else }}
    width="100%"
    src="{{ $image.Permalink }}"
  {{ end }}
  {{ with .Get "alt" }}alt='{{.}}'{{ else }}alt=""{{ end }}
  {{ with .Get "height" }}height='{{.}}'{{ end }}>
  {{ with .Get "caption" }}
  <figcaption>
    <p>{{.}}</p>
  </figcaption>
  {{ end }}
</figure>
